@page "/"

@* En pague se cuardan los ponentes rooteales
En Shared se guardan los componentes no rooteables que se reutilizan en toda la aplicacion  *@

@code{

    string nombre = "Nicolas";

    void click(){
        Console.WriteLine("hizo click");
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo = "Hulk", FechaLanzamiento = new DateTime(2008, 01, 01)},
            new Pelicula{Titulo = "Betty", FechaLanzamiento = new DateTime(2006, 02, 01)},
            new Pelicula{Titulo = "Gol", FechaLanzamiento = new DateTime(2001, 03, 01)}
        };
    }

    private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>(){
                                                                        {"placeholder", "new"},
                                                                        {"disabled", "true"}
                                                                    };
}

<h1>Hello @Utilidades.Upper(nombre)</h1>

<button @onclick=@click>Click</button>

@* asi se llama al componente *@
<ListadoPelicula peliculas="ObtenerPeliculas()"/>

<h3>Crear nueva pelicula</h3>
<EjemploTexbox Placeholder="Nombre pelicula"/>

@* parametros arbitrarios mas usandos, si en el attribute no se pasa nada, se usa el de por defecto*@
<EjemploTexbox palceholder="Por defecto" @attributes="@(EjemploTextboxParametros)" />

<BindEvento/>

<BindGetSetDemo/>


