@page "/generos/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Crear Genero</h3>

<FormularioGenero @ref="formularioGenero" genero="genero" OnValidSubmit="Crear" />

@code {
    private Genero genero = new Genero();

    //para vambiar el estado del atributo para quen pueda salir del formulario 
    private FormularioGenero formularioGenero;

    private async void Crear()
    {
        var httpResponse = await repositorio.Post("api/generos", genero);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            await swal.FireAsync("Ok", $"Genero {genero.Nombre} creado", SweetAlertIcon.Success);

            //cambio el estado para que pueda salir del formulario
            formularioGenero.FormularioPosteadoConExito = true;
            navigationManager.NavigateTo("generos");
        }
    }
}
