<h3>BindEvento</h3>

<p>
    @* el bind trabajo por defecto con el onchange *@
    @*muestra lo escrito abajo a medida eque voy escribiendo*@
    <input @bind="@valor" @bind:event="oninput"/>
</p>

El valor es: @valor

@code {
    private string valor { get; set; }
}
