<h3>BindGetSetDemo</h3>

@*con bind puedo hacer una operacion de lectura y escritura
con bind get y set puedo separar esta operacion 
en este caso el get toma el valor del texto
y el set lo setea en mayuscula*@

<input type="text" @bind:get="texto" @bind:set="SetAsync" @bind:event="oninput" />

<p>
    Texto: @texto
</p>
@code {
    private string texto = string.Empty;

    /*me retorna el texto en mayuscula y lo muestra, valor es lo que el usuario
     va a colocar
     */

    private Task SetAsync(string valor)
    {
        texto = valor.ToUpper();
        return Task.CompletedTask;
    }
}
